<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Maven Cucumber Suite" parallel="false" thread-count="1">

	<test name="Registration Feature With DataProvider">
		<classes>
			<class
				name="com.maven.automation.runners.Runner_RegistrationFeature_Dataprovider" />
		</classes>
	</test>

</suite>
